@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 6em;
    font-weight: 500;
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span{
    transition: 0.5s;
}

h2:hover span:nth-child(1){
    margin-right: 10px;
}

h2:hover span:nth-child(1)::after{
    content: "'";
}

h2:hover span:nth-child(2){
    margin-left: 40px;
}

h2:hover span{
    color: #fff;
    text-shadow: 0 0 010px #fff,
                 0 0 020px #fff,
                 0 0 040px #fff,
                 0 0 080px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;

}